
*{
    border: 0;padding: 0;margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style:none;
}
.wrap{
    width: 100%;
    position:relative;
}
header{
    width: 100%;
}
.top{
    width: 100%;
    background-image: url(../images/bgg.jpg);
    background-repeat: repeat-x;
    height: 91px;
}
.top-inner{
    width: 1002px;
    margin:0 auto;
    overflow: hidden;
}
.top .logo{
    float: left;
}
.top .logo h1 a{
    display:block;
    width: 277px;
    height: 91px;
    background-image: url( ../images/logo.png);
}
.top nav ul{
    float: right;
}
.top nav ul li{
    float: left;
    line-height: 90px;
    width: 111px;
    text-align: center;
    border-right:1px solid #fae1e5;
}
.top nav ul li a{
    color: #666666;
    font-size: 16px;
    font-family: "微软雅黑";
}
.top nav ul li a:hover{
    color:#da1b3d;
}
.banner{
    width: 100%;
    position:relative;
}
.banner img{
    display:block;
    margin:0 auto;
}
.banner .list{
    position:absolute;
    top:470px;
    left:278px;
}
.banner .list a{
    float: left;
    display:block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border:3px solid #fff;
}
.banner .list a:first-child{
    background-color: #fff;
}
.banner .list a+a{
    margin-left: 20px;
}
section{
    position:relative;
}
section .main-up{
    width: 1002px;
    margin:0 auto;
    overflow: hidden;
    position:absolute;
    top:50%;
    left:50%;
    background-color: #fff;
    margin-top: -126px;
    margin-left: -501px;

}
section .main-up .about{
    width: 685px;
    float: left;
    background-color: #f2f2f2;
    position:relative;
}
section .main-up .about a{
    display:block;
    float: left;
}
section .main-up .about a img{
    display:block;
}
section .main-up .about .words{
    float: left;
}
section .main-up .about .words p{
    font-size: 12px;
    color: #444444;
    line-height: 25px;
    text-indent: 2em;
    padding: 0px 23px;
}
section .main-up .about .words h2,.ifo h2{
    line-height: 25px;
    color: #444444;
    font-size: 21px;
    font-weight:normal;
    margin-top: 30px;
    margin-left: 20px;
}
section .main-up .about .words>span{
    display:block;
    width: 20px;
    height: 4px;
    background-color: #b4b4b4;
    margin-top: 12px;
    margin-left: 20px;
    margin-bottom: 10px;
}
section .main-up .about .words h2 span,.ifo h2 span{
    color: #c30b2d;
    font-family: Arial, Helvetica, sans-serif;
}
section .main-up .ifo{
    float: right;
    width: 313px;
    height: 252px;
    background-image: url(../images/mdbg.jpg);
    background-repeat: no-repeat;

}
section .main-up .ifo .xbg {
    width: 81px;
    line-height: 20px;
    padding: 10px 0px;
    border-top: 4px solid #c30b2d;
    border-bottom: 4px solid #c30b2d;
    font-size: 16px;
    color: #c30b2d;
    font-family: "微软雅黑";
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

}
section .main-up .ifo a{
    color: #b0b0b0;
    margin-left: 20px;
}
section .main-up .list{
    position:absolute;
    top:231px;
    left:270px;
}
section .main-up .list a{
    float: left;
    display:block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #fff;
}
section .main-up .list a:first-child{
    background-color: #c30b2d;
}
section .main-up .list a+a{
    margin-left: 5px;
}
section .main-down{
    width: 1002px;
    height: 261px;
    margin:0 auto;
    overflow: hidden;
    background-image: url(../images/bgggg.jpg);
    background-repeat: repeat-x;
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -501px;
    margin-top: 126px;
    padding-top: 28px;
}
section .main-down .news{
    float: left;
}
section .main-down .news .title{
    width: 645px;
    overflow:hidden;
}
section .main-down .news .title h2{
    font-family: "微软雅黑";
    line-height: 30px;
    font-size: 21px;
    color: #444444;
    float: left;
    font-weight: normal;
}
section .main-down .news .title .list{
    float: right;
    margin-top: 10px;
}
section .main-down .news .title .list a{
    float: left;
    display:block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #d2d2d2;
}
section .main-down .news .title .list a:first-child{
    background-color: #c10f2f;
}
section .main-down .news .title .list a+a{
    margin-left: 5px;
}
section .main-down .news ul{
    overflow:hidden;
}
section .main-down .news ul li{
    margin-top: 15px;
    overflow:hidden;
}
section .main-down .news ul li .date span:first-child{
    display: block;
    width: 65px;
    line-height: 50px;
    border-bottom: 1px dashed #fff;
    font-size: 38px;
    text-align: center;
    color: #fff;
    background-color: #c30b2d;
}
section .main-down .news ul li .date span:last-child{
    display: block;
    width: 65px;
    line-height: 19px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background-color: #c30b2d;
}
section .main-down .news ul li .date{
    float: left;
}
section .main-down .news ul li .words{
    float: right;
}

section .main-down .news ul li .words h3{
    width: 560px;
    overflow: hidden;
}
section .main-down .news ul li .words h3 a{
    line-height: 30px;
    font-size: 16px;
    color: #575757;
}
section .main-down .news ul li .words p{
    width: 560px;
    text-indent: 2em;
    line-height: 20px;
    font-size: 12px;
    color: #828282;
}
section .main-down .offer{
    float: right;
}
section .main-down .offer h2{
    font-family: "微软雅黑";
    line-height: 30px;
    font-size: 21px;
    color: #444444;
    font-weight: normal;
}
section .main-down .offer ul{
    margin-top: 10px;
}
section .main-down .offer ul li{
    line-height: 27px;
    font-size: 12px;
}
section .main-down .offer ul li a{
    color: #575757;
    margin-right:100px;
}
section .main-down .offer ul li a:hover{
    color: #c30b2d;
}
section .main-down .offer ul li:nth-child(1) span:nth-child(1){
    color: #c30b2d;
    float: left;
    margin-right: 10px;
}
section .main-down .offer ul li:nth-child(4) span:nth-child(1){
    color: #c30b2d;
    float: left;
    margin-right: 10px;
}
section .main-down .offer ul li:nth-child(6) span:nth-child(1){
    color: #c30b2d;
    float: left;
    margin-right: 10px;
}
section .main-down .offer ul li:nth-child(2) span:nth-child(1){
    color: #575757;
    float: left;
    margin-right: 10px;
}
section .main-down .offer ul li:nth-child(3) span:nth-child(1){
    color: #575757;
    float: left;
    margin-right: 10px;
}
section .main-down .offer ul li:nth-child(5) span:nth-child(1){
    color: #575757;
    float: left;
    margin-right: 10px;
}
section .main-down .offer ul li span:nth-child(3){
    color: #828282;
    float: right;
}
footer{
    width: 100%;
    position:absolute;
    bottom:-650px;
}
footer .footer-up{
    width: 100%;
    height: 144px;
    background-image: url(../images/bggggg.jpg);
    background-repeat: repeat-x;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #fff;
}
footer .footer-down{
    width: 100%;
    height: 89px;
    background-image: url(../images/bgdowan.jpg);
    background-repeat: repeat-x;
}
footer .footer-up .footer-up-inner{
    width: 1002px;
    margin:0 auto;
    overflow: hidden;
}
footer .footer-up .footer-up-inner ul{
    width: 121px;
    height: 124px;
    border-left: 1px solid #e5e5e5;
    float: left;
    padding-top: 20px;
    padding-left: 45px;
}
footer .footer-up .footer-up-inner ul:first-child{
    border:none;
}
footer .footer-up .footer-up-inner ul li:{
    line-height: 20px;
}
footer .footer-up .footer-up-inner ul li:first-child{
    margin-bottom: 5px;
}
footer .footer-up .footer-up-inner ul li b{
    font-family: "微软雅黑";
    font-size: 16px;
    color: #444444;
    font-weight: 600;
}
footer .footer-up .footer-up-inner ul li a{
    color: #7e7e7e;
    font-size: 12px;
}
footer .footer-up .footer-up-inner ul li a:hover{
    color: #c30b2d;
}
footer .footer-down .footer-down-inner{
    width: 1002px;
    margin:0 auto;
    overflow: hidden;
}
footer .footer-down .footer-down-inner .copyright{
    float: left;
    margin-left: 40px;
}
footer .footer-down .footer-down-inner .copyright p:first-child{
    background: url(../images/tel.jpg) left center no-repeat;
    padding-left: 20px;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #d6d6d6;
    margin-top: 15px;

}
footer .footer-down .footer-down-inner .copyright p span{
    font-size: 18px;
    font-family: "Impact";
}
footer .footer-down .footer-down-inner .copyright p:last-child{
    line-height: 40px;
    font-size: 12px;
    color: #bfbfbf;
}
footer .footer-down .footer-down-inner .wx{
    width: 175px;
    float: right;
    background: url(../images/wline.jpg) left center no-repeat;
    margin-right: 30px;
}
footer .footer-down .footer-down-inner .wx ul li{
    float: left;
    width: 54px;
    margin-left: 32px;
    text-align: center;
    font-size: 12px;
    color: #d60b23;
    font-family: "微软雅黑";
    margin-top: 5px;
}